//## Variables

//** Colors
$default:         #fff;

//** Typography
//** Typogaphy for copy not included due to payment
$font:   'Playfair Display', sans-serif;
$font-size-header:    32px;
$font-size-nav:       24px;
$font-size-copy:      16px;

//** Custom global spacing for grid and other elements on the website
$spacing: 			20px;
$spacing-m:         10px;

//** Layout
$grid-offset:       20px;

//**Animation
$animate: all 0.4s ease-in-out;