//## Variables

//** Colors
$default:         #fff;

//** Typography
$font:   'Playfair Display', sans-serif;
$font-size-header:    32px;
$font-size-nav:       26px;

//** Custom global spacing for grid and other elements on the website
$spacing: 			20px;
$spacing-m:         10px;

//** Layout
$grid-offset:       20px;

//**Animation
$animate: all 0.4s ease-in-out;