//## Variables

//** Colors
$default:         #fff;

//** Typography
$font:   'Playfair Display', sans-serif;
$font-size-base:    28px;
$font-size-nav:     34px;

//** Custom global spacing for grid and other elements on the website
$spacing: 			20px;
$spacing-m:         10px;

//** Layout
$grid-offset:       20px;