//## Defaults
@import "_variables";
@import "_mixins";

html,
body {
    background-color: $default;
    font-family: $font;
    height: 100vh;
    width: 100vw;
    line-height: 1.8;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}