//## Typography
@import "_variables";
@import "_mixins";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

h1 { 
  font-size: $font-size-header; 
  font-family: $font;
  
  @include breakpoint(sm) {
    font-size: ($font-size-header / 2);
  }
}

p {
  font-size: $font-size-nav;
  font-family: $font;
  
  @include breakpoint(sm) {
    font-size: ($font-size-nav / 2);
  }
}