//## Utilities
@import "../_variables";
@import "../_mixins";

//** Fonts and typo
.u-text-uppercase { text-transform: uppercase; }
.u-text-justify { text-align: justify; }
.u-text-center { text-align: center; }

//** Layering
.u-top-layer { z-index: 10; }
.u-back-layer { z-index: 0; }


//** Responsive classes
.u-visible-sm {
    display: block;

    @include breakpoint(sm) {
        display: none;
    }
}

.u-hidden-sm {
    display: none;

    @include breakpoint(sm) {
        display: block;
    }
}

// Basic animations

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fade-in-left {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
