//## Grid
@import "../_variables";
@import "../_mixins";

.container {
    clear: both;
    display: block;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.row {
    margin-left: -($grid-offset / 2);
    margin-right: -($grid-offset / 2);
    clear: both;

    @include breakpoint(sm) {
        margin-left: -$grid-offset;
        margin-right: -$grid-offset;
    }
}

.flex-row {
    @include flexbox;
    @include align-items(center);
    @include flex-wrap(wrap);
    @include breakpoint(sm) {
        @include flex-wrap(no-wrap);
    }
}

[class*="col-"] {
    float: left;
    padding-left: ($grid-offset / 2);
    padding-right: ($grid-offset / 2);
    width: 100%;

    @include breakpoint(sm) {
        padding-left: $grid-offset;
        padding-right: $grid-offset;
    }
}

@include breakpoint(sm) {

    .col-1-2 {
        width: 50%;
    }

    .col-1-3 {
        width: 33.333%;
    }

    .col-2-3 {
        width: 66.666%;
    }
}