.loader-container {
	background-color: #fff;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: flex;
	justify-content: center;
    align-items: center;
    
    .load {
        height: 20px;
        background-color: #111;
        width: 2px;
        margin-right: 10px;
        float: left;
    }
}