.slides-container {
    height: 100vh;
    width: 100%;

    &__slide {
        height: 100vh;
        width: 100%;
        background-color: #333;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;

        &:nth-child(1) {
            background-image: url('../img/slide-1-bg.png')
        }

        &:nth-child(2) {
            background-image: url('../img/slide-2-bg.png')
        }

        &:nth-child(3) {
            background-image: url('../img/slide-3-bg.png')
        }

        .bg-container {
            width: 100vw;
            height: calc( 100vh + 200px );
            position: absolute;
            top: 0;
            left: 0;
        }
        
        .bg-image {
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            width: 100vw;
            height: calc( 100vh + 200px );
        }

        &__header {
            position: absolute;
            top: 60px;
            left: 190px;
            width:400px;
            height: 118px;
            @include flexbox;
            @include align-items(center);
        }

        .hotspot {
            position: absolute;
            display: block;
            width: 120px;
            height: 120px;
            border-radius: 100%;
            background-size: 60%;
            background-color: rgba(255, 255, 255, 0.75);
            background-repeat: no-repeat;
            background-position: center;
            padding: 10px;
            cursor: pointer;

            &::after {
                content: '';
                display: block;
                width: 100px;
                height: 100px;
                border-radius: 100%;
                background-color: transparent;
                border: 2px solid #000;
            }
        }

        .hotspot.sun {
            top: 58%;
            left: 20%;
            background-image: url('../img/sun.png');
        }

        .hotspot.waves {
            top: 40%;
            left: 55%;
            background-image: url('../img/waves.png');
        }

        .hotspot.mountains {
            top: 60%;
            right: 10%;
            background-image: url('../img/mountains.png');
            background-position-y: 40%;
        }

        .hotspot.hammer {
            top: 37%;
            left: 16%;
            background-image: url('../img/hammer.svg');
        }

        .hotspot.fire {
            bottom: 10%;
            left: 30%;
            background-image: url('../img/fire.png');
            background-position: 40%;
            background-size: 55%;
        }

        .hotspot.lizard {
            top: 50%;
            right: 28%;
            background-image: url('../img/lizard.svg');
            background-position-y: 70%;
            background-size: 70%;
        }

        .hotspot.tower {
            top: 32%;
            left: 20%;
            background-image: url('../img/tower.svg');
        }

        .hotspot.leaves {
            top: 10%;
            left: 55%;
            background-image: url('../img/leaves.svg');
        }

        .hotspot.fish {
            top: 18%;
            right: 10%;
            background-image: url('../img/fish.svg');
        }
    }
}
  


