.slides-container {
    height: 100vh;
    width: 100%;

    &__slide {
        height: 100vh;
        width: 100%;
        background-color: #333;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 125%;
        position: relative;
        overflow: hidden;

        &:nth-child(1) {
            background-image: url('../img/slide-1-bg.png')
        }

        &:nth-child(2) {
            background-image: url('../img/slide-2-bg.png')
        }

        &:nth-child(3) {
            background-image: url('../img/slide-3-bg.png')
        }

        .bg-container {
            width: 100vw;
            height: calc( 100vh + 200px );
            position: absolute;
            top: 0;
            left: 0;
        }
        
        .bg-image {
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            width: 100vw;
            height: calc( 100vh + 200px );
        }

        &__header {
            position: absolute;
            top: 60px;
            left: 180px;
            width: 400px;
            height: 118px;
            @include flexbox;
            @include align-items(center);
        }

        .header-black {
            opacity: 0;
        }

        .hotspot {
            cursor: pointer;
            position: absolute;
            display: block;
            width: 120px;
            height: 120px;
            border-radius: 100%;
            background-size: 60%;
            background-color: rgba(255, 255, 255, 0.75);
            background-repeat: no-repeat;
            background-position: center;
            padding: 10px;
            z-index: 10;

            &__hotspot-inner {
                display: block;
                width: 100px;
                height: 100px;
                border-radius: 100%;
                background-color: transparent;
                border: 2px solid #000;
                position: absolute;
                top: 10px;
                left: 10px;
            }

            .icon {
                position: absolute;
                width: 65%;
                height: 65%;
                top: 21px;
                left: 21px;
                z-index: 10;
            }

            .popup {
                position: absolute;
                top: -5px;
                left: 0;
                background-color: hsla(0,0%,9%,.8);
                padding: 20px 20px 20px 130px;
                z-index: 2;
                border-radius: 10px;
                min-height: 130px;
                @include flexbox;
                @include align-items(center);

            }
        }

        .hotspot.sun {
            top: 58%;
            left: 20%;

            .icon {
                width: 62%;
                height: 62%;
                top: 23px;
                left: 23px;
            }

            .popup {
                width: 465px;
                top: 10px;
                left: 10px;
            }
        }

        .hotspot.waves {
            top: 35%;
            left: 55%;

            .icon {
                top: 22px;
            }

            .popup {
                width: 420px;
                min-height: 130px;
            }
        }

        .hotspot.mountains {
            top: 60%;
            right: 10%;

            .icon {
                top: 19px;
                left: 23px;
            }

            .popup {
                left: -355px;
                width: 480px;
                padding-right: 130px;
                padding-left: 20px;
            }
        }

        .hotspot.hammer {
            top: 37%;
            left: 16%;

            .icon {
                top: 17px;
                left: 23px;
            }

            .popup {
                width: 400px;
                top: -10px;
            }
        }

        .hotspot.fire {
            bottom: 10%;
            left: 30%;

            .icon {
                width: 60%;
                height: 60%;
                top: 22px;
                left: 18px;
            }

            .popup {
                top: 10px;
                left: 10px;
                width: 480px;
            }
        }

        .hotspot.lizard {
            top: 50%;
            right: 28%;

            .icon {
                width: 70%;
                height: 70%;
            }

            .popup {
                width: 480px;
                top: -30px;
                left: 10px;
            }
        }

        .hotspot.tower {
            top: 30%;
            left: 20%;

            .popup {
                width: 480px;
                top: 15px;
                left: 15px;
            }
        }

        .hotspot.leaves {
            top: 10%;
            left: 55%;

            .popup {
                width: 420px;
                top: 5px;
                left: 5px;
            }
        }

        .hotspot.fish {
            top: 40%;
            right: 10%;

            .popup {
                top: -5px;
                left: -365px;
                width: 480px;
                padding-right: 110px;
                padding-left: 20px;
            }
        }
    }
}


